 :root{
       --fontcolor1: black;
       --fontcolor2: white;
       --fontcolor3: #a9b4c2;
       --highlight: #7c98a1;
       --boxcolor1: #1f2322;
       --blankcolor: black;
       --blueish: #28a0f4;
       --grayish: #5e6474;
     }
     body{
       font-family: arial;
       color: var(--fontcolor2);
       background-color: black;
     }
.box1{
       border-radius: 5px;
       background-color: var(--boxcolor1);
       padding: 10px;
       display: flex;
     }
